.navBar{
    width: 100%;
    height: 85px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.title{
    font-size: 60px;
}

