.itemDetailsContaner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
}

.itemDetailsContaner img{
    width: 500px;
    height: auto;
    padding: 10px;
}