.itemListContaner{
    background-color: #1ED3FE;

    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.contaner{
    display: flex;
    gap: 55px;

    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.saludo{
    text-decoration: underline solid black;
}

